@media screen{
a{color:#09c;}
body{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:1.3rem;line-height:1.7em;color:#fff;background:#000;margin:0 auto 0 auto;padding:0;}
.flex-container{display:flex;justify-content:flex-start;flex-wrap:wrap;border-top: 1px solid #fff;}
.fc{flex:0 0 25%;display:flex;justify-content:center;align-items:stretch;padding:0;margin:0;box-sizing:border-box;flex-grow:1;}
.fc:empty,.fcs:empty{height:0;}
.fcs{flex:0 0 33%;display:flex;justify-content:center;align-items:stretch;padding:0;margin:0;box-sizing:border-box;flex-grow:1;cursor:pointer;}
.fc:before{content:'';display:table;padding-top:100%;}
.fcs:before{content:'';display:table;padding-top:100%;}
.fi{flex-grow:1;border-bottom:1px solid #fff;border-right:1px solid #fff;background:#333;color:#fff;display:flex;justify-content:center;align-items:center;font-size:2em;text-decoration:none;text-transform:uppercase;}
.fis{flex-grow:1;border-bottom:1px solid #fff;border-right:1px solid #fff;background:#333;color:#fff;display:flex;justify-content:center;align-items:center;font-size:1em;text-decoration:none;padding:0.2rem;text-align:center;}
.fis-vybrane{flex-grow:1;border-bottom:1px solid #fff;border-right:1px solid #fff;background:#000;color:#fff;display:flex;justify-content:center;align-items:center;font-size:1em;text-decoration:none;padding:0.2rem;text-align:center;}
h1{color:#fff;background:url("icon.svg") 99% 50% no-repeat #000;background-size:2em 2em;margin:0;padding:0.5em;font-weight:normal;font-size:1em;}
.nadpis{text-decoration:none;}
p{text-align:center;padding:0 1rem;}
h3{text-align:center;}
.fcs:nth-child(3n+3) .fis,.fcs:nth-child(3n+3) .fis-vybrane{border-right:0;}
.fc:nth-child(4n+4) .fi{border-right:0;}
.knoflik{background:#333;color:#fff;padding:1em 2em;}
}
@media screen and (min-width: 610px){
.fc{flex:0 0 20%;display:flex;justify-content:center;align-items:stretch;padding:0;margin:0;box-sizing:border-box;flex-grow:1;}
.fcs{flex:0 0 16%;display:flex;justify-content:center;align-items:stretch;padding:0;margin:0;box-sizing:border-box;flex-grow:1;}
.fcs:nth-child(3n+3) .fis{border-right:1px solid #fff;}
.fcs:nth-child(6n+6) .fis, .fcs:nth-child(6n+6) .fis-vybrane{border-right:0;}
.fc:nth-child(4n+4) .fi{border-right:1px solid #fff;}
.fc:nth-child(5n+5) .fi{border-right:0;}
}
